# Env and logs
.env
*.log
logs/
telegram-bot/logs/

# Build and Packaging
build/
dist/
__pycache__/
*.spec
*.exe

# Python
вvenv/
venv_linux/
.venv/
.pytest_cache/

# Project Binaries and Data
bin/
data/
reestr.db

# VPN Config (Generated)
config.json
data/vpn/config.json
